.header h1{
    color:rgb(18, 173, 18);
    height: 100px;
    padding-top:30px ;
}
.nav-bar{
    background-color: rgb(221, 216, 216);
    line-height: 40px;
    font-size: 20px;
    border: 2px solid rgb(255, 254, 254);
    height: 70px;
}
nav a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
    padding: 6px;
}